<section
  [style.background]="pokemonList.types[0].type.name | BackgroundtypePipe"
  class="pokemonDetailContainer"
>
  <a [routerLink]="['/pokemon']">
    <button>retour</button>
  </a>

  <section class="containerheader">
    <div class="topPokemonContainer">
      <div class="contentPokemonContainer">
        <h1 style="font-weight: 700; font-size: 122px">
          {{ pokemonList.name }}
        </h1>
        <div class="headerContainerInfos">
          <p class="first-p">Height</p>
          <p>{{ pokemonList.weight }}</p>
        </div>
        <div class="headerContainerInfos">
          <p class="first-p">Weigth</p>
          <p>{{ pokemonList.height }}</p>
        </div>
        <div class="headerContainerInfos">
          <p class="first-p">Abilities</p>
          <div *ngIf="pokemonList.abilities.length > 0">
            <p>{{ pokemonList.abilities[0].ability.name }}</p>
          </div>
        </div>
      </div>
      <div class="imgContainerdetail">
        <img
          style="width: 400px"
          src="{{ pokemonList.sprites.other.dream_world.front_default }}"
        />
      </div>
    </div>
  </section>

  <section class="sectionstatContainer">
    <div
      class="pokemonListContainer"
      *ngFor="let stat of pokemonList.stats; let i = index"
    >
      <div style="color: white" class="statsbarContainer">
        <span
          style="
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-right: 5px;
            width: 185px;
          "
          >{{ stat.stat.name }}</span
        >
        <div class="progress" style="width: 75%; height: 25px">
          <div
            style="
              color: black;
              background: #ffe436;
              border: 1px solid rgb(169, 164, 164);
            "
            class="progress-bar"
            role="progressbar"
            [style.width]="calculate(stat.base_stat) + '%'"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span
          style="
            margin-left: 20px;
            font-size: 1.4rem;
            padding: 20px 10px;
            width: 35px;
          "
          >{{ stat.base_stat }}
        </span>
      </div>
    </div>
  </section>
</section>
