<div style="background: #313398">
  <h1>Pokedex</h1>
  <div class="container" style="max-width: 1700px">
    <section class="row justify-content-around">
      <div
        style="margin-top: 25px"
        class="col-4"
        *ngFor="let pokemon of pokemonDetails"
      >
        <a [routerLink]="['/pokemon', pokemon.id]">
          <div
            class="imgContainer"
            [style.background]="pokemon.types[0].type.name | BackgroundtypePipe"
          >
            <h2 class="title">{{ pokemon.name }}</h2>
            <div class="containerAtributpokemon">
              <div
                class="typeContainerCard"
                style="border-radius: 15px"
                [style.background]="pokemon.type.name | pokeTypeColor"
                *ngFor="let pokemon of pokemon.types"
              >
                {{ pokemon.type.name }}
              </div>

              <div class="containerImage">
                <img
                  style="width: 150px; height: 150px; margin-bottom: 15px"
                  src="{{ pokemon.sprites.other.dream_world.front_default }}"
                />
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>
