<div style="background: #293744">
  <div style="display: flex; justify-content: center; align-items: center">
    <span
      ><img
        src="../../assets/png-clipart-pokemon-logo-pokemon-logo-removebg-preview.png"
        alt=""
        srcset=""
    /></span>
  </div>
  <div class="container-sm">
    <section class="cardContainer">
      <div
        style="margin-top: 25px; width: 30%"
        class="col-4"
        *ngFor="let pokemon of pokemonDetails"
      >
        <a [routerLink]="['/pokemon', pokemon.id]">
          <div
            class="imgContainer"
            [style.background]="pokemon.types[0].type.name | BackgroundtypePipe"
          >
            <h2 class="title">{{ pokemon.name }}</h2>
            <div class="containerAtributpokemon">
              <div class="buttonContainer">
                <button
                  class="typeContainerCard"
                  style="border-radius: 15px; border: none"
                  [style.background]="pokemon.type.name | pokeTypeColor"
                  *ngFor="let pokemon of pokemon.types"
                >
                  {{ pokemon.type.name }}
                </button>
              </div>

              <div class="containerImage">
                <img
                  style="width: 150px; height: 150px; margin-bottom: 15px"
                  src="{{ pokemon.sprites.other.dream_world.front_default }}"
                />
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>
